@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Models.ViewModels.CreateCommentViewModel

<form asp-controller="Comment" asp-action="CreateComment" method="post">
    <div class="form-group">
        <label for="@Model.Content">Comment:</label>
        <textarea class="form-control" id="content" name="Content" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>