

@model List<Models.DbModels.Team>

@{
    ViewData["Title"] = "Teams";
}

<p class="h1 text-warning text-center">Teams</p>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="w-100">

                    <table class="table" style="">
                        <tr>
                            <td>@item.Name</td>
                        </tr>
                        <tr>
                            <td>@item.Name</td>
                        </tr>
                        <tr>
                            <td>@item.Name</td>
                        </tr>
                        <tr>
                            <td>@item.Name</td>
                        </tr>
                    </table>
                    }

                </div>
            </div>
        }
        
    </div>
</div>