@model Models.DbModels.Game
<p class="h1 text-warning">Basketball Data</p>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            <table class="table bg-dark">
                <thead>
                    <tr class="bg-warning text-center">
                        <th scope="col">Home</th>
                        <th scope="col">Away</th>
                    </tr>
                </thead>
                <tbody class="text-warning">
                    <tr>
                        <td>@Model.HomeTeamScore pts</td>
                        <td>@Model.VisitorTeamScore pts</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr class="bg-warning fw-bold text-center">
                        <td colspan="2" class="text-black">Search more Games</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



