@model Models.DbModels.Game
<p class="h1 text-warning">Basketball Data</p>

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <table class="table bg-dark">
                <thead>
                    <tr class="bg-warning text-center">
                        <th scope="col">Home</th>
                        <th scope="col">Away</th>
                    </tr>
                </thead>
                <tbody class="text-warning">
                    <tr>
                        <td>@Model.HomeTeamScore pts</td>
                        <td>@Model.VisitorTeamScore pts</td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr class="bg-warning fw-bold text-center">
                        <td colspan="2" class="text-black">Search more Games</td>
                    </tr>
                </tbody>
            </table>
    </div>
            <div class="col-sm-12 bg-dark vh-100 vw-100 m-0">
                <h2 class="text-warning text-center">Average Score Per Season</h2>
                <canvas id="myChart" style="max-width: 100%" class=""></canvas>
            </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.1.1/chart.umd.js"></script>
 <script>
    const xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
    const yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: "rgba(228, 161, 27, 1)",
                borderColor: "rgba(228,161,27,1)",
                data: yValues
            }]
        },
        responsive: true,
        maintainAspectRatio: false,
    });
 </script>




